.series {
   width: 140vh;
   padding: 5vh;
}

.selector {
   display: flex;
   margin-top: 1em;
   gap: 0.5em;
}

.selector select, .selector button {
   border: 1px solid #3a466e;
}

/*5d6581*/

.selector select {
   padding: 0.1em 0.5em;
}

.selector button {
   padding: 0 1em;
}